html, body {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 1280px;
}

#Navigation {
    background: blue;
}

.header-description {
    background: url('../images/0.png');
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 25rem;
    padding-top: calc(10rem + 80px);
    padding-bottom: 10rem;
}

@media screen and (max-width: 800px) {
    .header-description {
        padding-top: calc(5rem + 40px);
    }
}

#features {
    padding: 3rem;
}

#footer {
    padding: 3rem;
}

.showcase .showcase-text {
    padding: 3rem;
  }
  
 .showcase .showcase-img {
    min-height: 25rem;
    background-size: cover;
  }